#leftsideabout {
    background-color: black;
    width: 65%;
}
#rightsideabout {
    background-color: #fac664
    ;
    width: 35%;
}
#generalinfo {
    height: 33%;
}
.leftsidediv {
    width: 25%;
    height: 60%;
}
#fullinfo{
    height: 67%;
    background-image: url(../Pizza-Layout/bg_4.jpg);
}
#videoabout{
    width: 45%;
}
#textabout{
    width: 60%;

}
