#hotpizza{
    height: 800px;
    background-image: url(../Pizza-Layout/bg_4.jpg);
}
#hotpizzatxt{
    height: 33%;
}
#pizzamenu{
    height: 67%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.pizzascont{
    background-color: black;
}
.pizzasdown{
    margin-top: -55px;
}
